@import url('../../global/colors.scss');
@import url('../../global/global.scss');


.studio-users-manager-container{
  padding: 0rem 1rem;

  
  .studio-users-container{

  }
}
.button-container{
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 2rem;
  

  button{
    background-color: var(--highlight);
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;

    &:hover{
      background-color: var(--highlight-hover);
    }
    &:active{
      transform: scale(0.95);
    }
  }
}
